*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body{
  min-height: 100vh;
  display: flex;
  font-size: 100%;
  // align-items: center;
  justify-content: center;
  background: url(../img/bg.jpg) no-repeat center / cover;
  background-attachment: fixed;
  font-family: sans-serif;
}
.container{
  width: 100%;
  max-width: 800px;
  padding-top: 100px;
}
.search{
  width: 100%;
  text-align: center;
  h1{
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}
.input-wrapper{
  display: flex;
  justify-content: center;
  input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
    font-size: 20px;
  }
  button{
    min-width: 75px;
    background-color: #1586E5;
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: .1s;
    &:hover{
      filter: brightness(.9);
    }
    img{
      height: 20px;
    }
    img.gif{
      transition: .2s;
      height: 35px;
    }
  }
}
.output{
  h1{
    margin: 30px 0;
    text-align: center;
  }
}
.output__content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.output__item{
  width: 250px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  color: rgb(49, 49, 49);
  margin: 8px;
  img{
    width: 100%;
    height: auto;
  }
  h2{
    margin: 10px 0;
  }
}